---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Icon from "../components/Icon.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import ContactMe from "../components/ContactMe.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHubIcon.astro";
import Mail from "../components/icons/Mail.astro";
import CV from "../components/icons/CV.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import School from "../components/icons/School.astro";
import Code from "../components/icons/Code.astro";
import Laptop from "../components/icons/Laptop.astro";
---

<Layout title="Portfolio de Andres Escala - Desarrollador web">
  <main class="px-4">
    <SectionContainer class="py-28 pb-32" id="about-me">
      <img
        class="rounded-full size-12 mr-4"
        src="/andres.jpg"
        alt="andres escala"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 py-4"
      >
        Hey, soy Andres Escala
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/andres-rafael-escala-acosta-2b98a4222/"
          target="_blank"
          rel="noopener"
          ><span
            class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
            >Disponible para trabajar</span
          ></a
        >
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>+2 años de experiencia.</span><span
          class="text-blue-800 dark:text-blue-200"
        >
          Desarrollador Web e Ingeniero Telemático.
        </span>
        <span class="text-red-800 dark:text-red-200">
          Ciudad de México, México
        </span>
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <Icon
          href="https://www.linkedin.com/in/andres-rafael-escala-acosta-2b98a4222/"
        >
          <LinkedIn class="size-4 md:size-6" /> LinkedIn
        </Icon>
        <Icon href="https://github.com/escalandres">
          <GitHub class="size-4 md:size-6" /> GitHub
        </Icon>
        <Icon href="mailto:andres.escala.344@gmail.com">
          <Mail class="size-4 md:size-6" /> andres.escala.344@gmail.com
        </Icon>
        <Icon
          href="/docs/CV_AndresEscala.es.pdf"
          download="cv_andres-escala.pdf"
        >
          <CV class="size-4 md:size-6" /> Descargar CV
        </Icon>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />

      <h2
        class="text-3xl mt-4 font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <School class="size-7" />
        Educación
      </h2>
      <Education />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Code class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="skills">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Laptop class="size-7" />
        Tecnologías
      </h2>
      <Skills />
    </SectionContainer>
    <SectionContainer id="contact-me">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Mail class="size-7" />
        Contacta me
      </h2>
      <ContactMe />
    </SectionContainer>
  </main>
</Layout>
