---
import Tailwind from "./icons/Tailwind.astro";
import Nodejs from "./icons/Nodejs.astro";
import React from "./icons/React.astro";
import HTML from "./icons/HTML.astro";
import NextJS from "./icons/NextJS.astro";
import CSS from "./icons/CSS.astro";
import JavaScript from "./icons/JavaScript.astro";
import EJS from "./icons/EJS.astro";
import Electron from "./icons/Electron.astro";
import ExpressJS from "./icons/ExpressJS.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import DotNet from "./icons/DotNet.astro";
import SQLServer from "./icons/SQLServer.astro";
import MongoDB from "./icons/MongoDB.astro";
import Linux from "./icons/Linux.astro";
import MySQL from "./icons/MySQL.astro";
import Git from "./icons/GitIcon.astro";
---

<style>
  .animate-infinite-scroll {
    animation: infinite-scroll 20s linear infinite;
  }
  @keyframes infinite-scroll {
    0% {
      transform: translate(0%);
    }
    100% {
      transform: translate(-100%);
    }
  }
</style>
<div
  class="inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),
  transparent_100%)] w-[250px] mx-[calc((100%-250px)/2)] md:w-[750px] md:mx-[calc((100%-750px)/2)] sm:mx-[calc((100%-500px)/2)] xl:w-[1000px]
  xl:mx-[calc((100%-1000px)/2)] 2xl:w-[1500px] 2xl:mx-[calc((100%-1500px)/2)] 3xl:w-[2000px] 3xl:mx-[calc((100%-2000px)/2)] 4xl:w-[2500px] 4xl:mx-[calc((100%-2500px)/2)]
   5xl:w-[3000px] 5xl:mx-[calc((100%-3000px)/2)] 6xl:w-[3500px] 6xl:mx-[calc((100%-3500px)/2)] 7xl:w-[4000px] 7xl:mx-[calc((100%-4000px)/2)] 8xl:w-[4500px]
   8xl:mx-[calc((100%-4500px)/2)] 9xl:w-[5000px] 9xl:mx-[calc((100%-5000px)/2)] 10xl:w-[5500px] 10xl:mx-[calc((100%-5500px)/2)] 11xl:w-[6000px] 11xl:mx-[calc((100%-6000px)/2)]
   12xl:w-[6500px] 12xl:mx-[calc((100%-6500px)/2)] 13xl:w-[7000px] 13xl:mx-[calc((100%-7000px)/2)] 14xl:w-[7500px] 14xl:mx-[calc((100%-7500px)/2)] 15xl:w-[8000px]
   15xl:mx-[calc((100%-8000px)/2)] 16xl:w-[8500px] 16xl:mx-[calc((100%-8500px)/2)] 17xl:w-[9000px] 17xl:mx-[calc((100%-9000px)/2)] 18xl:w-[9500px]
   18xl:mx-[calc((100%-9500px)/2)] 19xl:w-[10000px] 19xl:mx-[calc((100%-10000px)/2)] 20xl:w-[10500px] 20"
>
  <!-- Primer conjunto de logos -->
  <ul
    class="flex items-center justify-center md:justify-start [&_li]:mx-2 xl:[&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
  >
    <li><HTML alt="HTML" class="size-20" /></li>
    <li><CSS alt="CSS" class="size-20" /></li>
    <li><JavaScript alt="JS" class="size-20" /></li>
    <li><Bootstrap alt="Bootstrap" class="size-20" /></li>
    <li><Tailwind alt="Tailwind" class="size-20" /></li>
    <li><DotNet alt=".NET" class="size-20" /></li>
    <li><SQLServer alt="SQL Server" class="size-20" /></li>
    <li><Nodejs alt="Nodejs" class="size-20" /></li>
    <li><React alt="React" class="size-20" /></li>
    <li><Git alt="Git" class="size-20" /></li>
    <li><MongoDB alt="MongoDB" class="size-20" /></li>
    <li><Linux alt="Linux" class="size-20" /></li>
  </ul>
  <ul
    class="flex items-center justify-center md:justify-start [&_li]:mx-2 xl:[&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
  >
    <li><HTML alt="HTML" class="size-20" /></li>
    <li><CSS alt="CSS" class="size-20" /></li>
    <li><JavaScript alt="JS" class="size-20" /></li>
    <li><Bootstrap alt="Bootstrap" class="size-20" /></li>
    <li><Tailwind alt="Tailwind" class="size-20" /></li>
    <li><DotNet alt=".NET" class="size-20" /></li>
    <li><SQLServer alt="SQL Server" class="size-20" /></li>
    <li><Nodejs alt="Nodejs" class="size-20" /></li>
    <li><React alt="React" class="size-20" /></li>
    <li><Git alt="Git" class="size-20" /></li>
    <li><MongoDB alt="MongoDB" class="size-20" /></li>
    <li><Linux alt="Linux" class="size-20" /></li>
  </ul>
</div>
