---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Noviembre 2022 - actualmente",
    title: "Becario Desarrollador Web - Info100 S.A de C.V",
    description:
      "Desarrollador de una aplicación web para la prevención de lavado de dinero con ASP.Net Framework, ASP.Net Razon y SQL Server. Y, creación de API REST con .Net 7; también, gestión de servidores CentOS 7",
  },
  {
    date: "Agosto 2022 - Octubre 2022",
    title: "Pasante - New Ventures",
    description:
      "Desarrollar un sistema de administración para almacenar los programas de impacto social de la empresa, en ClickUp. Y desarrollo de una landing page en WordPress para una nueva edición de programas de impacto social.",
  },
  {
    date: "Marzo 2022 - Mayo 2022",
    title: "Estudiante en Bootcamp - Innovaccion Virtual",
    description:
      "Desarrollar proyectos web Full Stack con HTML5, CSS3, JavaScript, Nodejs, GitHub y Azure.",
  },
  {
    date: "Enero 2020 - actualmente",
    title: "Proyectos académicos - Instituto Politécnico Nacional",
    description:
      "Desarrollo de aplicaciones y sistemas con C, Python; y tecnologías web como HTML5, CSS3, JavaScript, Bootstrap, Reactjs, Nodejs, Git y Github.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
