<header
  class="flex justify-center mx-auto py-5 items-center sticky top-0 w-full xl:w-[1120px] z-10"
>
  <nav
    class="flex flex-row items-center border border-black rounded-full px-3 py-1 bg-slate-950"
  >
    <a href="#about-me" class="hover:bg-white/10 rounded-full px-3 transition"
      >Sobre mí</a
    >
    <a
      href="#experiencia"
      class="hover:bg-white/10 rounded-full px-3 transition">Experiencia</a
    >
    <a href="/contact" class="hover:bg-white/10 rounded-full px-3 transition"
      >Proyectos</a
    >
    <a href="/projects" class="hover:bg-white/10 rounded-full px-3 transition"
      >Contacto</a
    >
  </nav>
</header>
